.authPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #202020, #000);
}
.authContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #141414;
    padding: 2rem 15rem;
    border-radius: 0.5rem;
}
.img{
    height: 3rem;
    width: auto;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}
.authForm{
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 0.5rem;
    input{
        width: 25rem;
    }
    button[type="submit"]{
        font-size: 1rem;
        font-weight: 500;
        width: 100%;
        margin-top: 2rem;
    }
    .authPassword{
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        button{
            position: absolute;
            right: 0.75rem;
            background: transparent;
            padding: 0.25rem;
            img{
                opacity: 0.75;
            }
        }
    }
}
.rotate {
    animation: rotate 1s linear infinite; /* Infinite rotation */
}
  
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}