.dashboardContainer{
    header{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        width: 100%;
        position: sticky;
        top: 0;
        .dropdown{
            position: absolute;
            right: 0;
            top: 100%;
            border-radius: 10px;
            background-color: #1d1d1d;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 1rem;
            z-index: 1;
            .userInfo{
                margin-bottom: 0.5rem;
                padding-bottom: 0.5rem;
                display: flex;
                border-bottom: 1px solid #d9d9d920;
            }
            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            li{
                display: flex;
                gap: 0.75rem;
                align-items: center;
                padding: 10px;
                font-size: 0.825rem;
                cursor: pointer;
                border-radius: 4px;
                svg{
                    height: 1rem;
                    width: auto;
                }
            }
            li:hover{
                background-color: #58D033;
                color: #121212;
            }
            li:hover path{
                fill: #121212;
            }
        }
    }
    button{
        display: block;
        margin: auto;
        background: transparent;
        border: 1px solid #d9d9d950;
        color: #d9d9d9;
        &:hover{
            border: 1px solid #58D033;
        }
    }
    table{
        padding: 2rem;
        width: 100%;
        border-collapse: collapse;
        .firstCol{
            width: 15rem;
            text-align: left;
            padding-left: 1rem;
        }
        button{
            border: 1px solid transparent;
            width: 25%;
        }
        tbody{
            tr{
                &:hover{
                    background: #d9d9d908;
                }
            }
        }
        td{
            padding: 0.5rem 1rem;
        }
        td{
            border-bottom: 1px solid #d9d9d920;
        }
    }
    .createBtn{
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .createBtnContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1.5rem 5rem;
            border: 2px dashed #d9d9d950;
            border-radius: 0.5rem;
        }
    }
}