.dashboardContainer{
    header{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        padding-bottom: 0;
        width: 100%;
        background: #121212;
        position: sticky;
        top: 0;
        .logo{
            display: flex;
            gap: 0.5rem;
            cursor: pointer;
            img {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                padding: 0.25rem;
                border: 1px solid #d9d9d920;
            }
        }
        @media screen and (max-width: 700px) {
            padding: 0.75rem;
            width: 100vw;
        }
        .dropdown{
            position: absolute;
            right: 0;
            top: 100%;
            border-radius: 10px;
            background-color: #1d1d1d;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 1rem;
            z-index: 1;
            .userInfo{
                margin-bottom: 0.5rem;
                padding-bottom: 0.5rem;
                display: flex;
                border-bottom: 1px solid #d9d9d920;
            }
            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            li{
                display: flex;
                gap: 0.75rem;
                align-items: center;
                padding: 10px;
                font-size: 0.825rem;
                cursor: pointer;
                border-radius: 4px;
                svg{
                    height: 1rem;
                    width: auto;
                }
            }
            li:hover{
                background-color: #58D033;
                color: #121212;
            }
            li:hover path{
                fill: #121212;
            }
        }
    }
    button{
        display: block;
        margin: auto;
        background: transparent;
        border: 1px solid #d9d9d950;
        color: #d9d9d9;
        &:hover{
            border: 1px solid #58D033;
        }
    }
    .tableContainer{
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        button{
            border: 1px solid transparent;
            display: inline-block !important;
            margin: 0 !important;
            &:hover{
                border: 1px solid #58D033;
            }
        }
        .paginationControls{
            align-self: flex-end;
            margin: 2rem;
            margin-top: 0.5rem;
            @media screen and (max-width: 700px) {
                margin: 0;
                align-self: center;
            }
            button{
                border: 1px solid transparent;
                display: inline-block !important;
                margin: 0 !important;
                &:hover{
                    border: 1px solid transparent;
                }
            }
        }
        table{
            margin: 2rem;
            margin-bottom: 0.5rem;
            width: calc(100% - 4rem);
            border-collapse: collapse;
            @media screen and (max-width: 700px) {
                width: 100%;
                margin: 0;
            }
            .firstCol{
                width: 15rem;
                text-align: left;
                padding-left: 1rem;
                @media screen and (max-width: 700px) {
                    width: auto;
                }
            }
            .actionsCol{
                width: 5rem;
                padding-left: 1rem;
                @media screen and (max-width: 700px) {
                    width: auto;
                }
            }
            .deleteBtn{
                opacity: 0;
                background: #d20a2e;
                width: 43.8px;
                &:hover{
                    border: 1px solid transparent;
                }
                img{
                    height: 15px;
                    width: auto;
                }
                @media screen and (max-width: 1200px) {
                    opacity: 1;
                }
            }
            thead{
                border-bottom: 1px solid #d9d9d980;
                th{
                    padding-bottom: 0.75rem;
                }
            }
            tbody{
                tr{
                    &:hover{
                        background: #d9d9d908;
                        .deleteBtn{
                            opacity: 1;
                        }
                    }
                }
            }
            td{
                padding: 0.5rem 1rem;
            }
            td{
                border-bottom: 1px solid #d9d9d920;
            }
        }
    }
    .createBtn{
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .createBtnContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1.5rem 5rem;
            border: 2px dashed #d9d9d950;
            border-radius: 0.5rem;
        }
    }
}