.chatRoomContainer{
    height: calc(100vh - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    form img {
        width: 20px;
        height: 20px;
    }
    .chatContainer{
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #888;
            border: 3px solid #f1f1f1;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
        scrollbar-color: #888 transparent;
        .chat{
            max-width: 50rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            @media screen and (max-width: 1200px) {
                padding: 1rem;
                width: 100%;
            }
            .prompt{
                align-self: flex-end;
                background: #313131;
                padding: 1rem;
                border-radius: 25px;
                max-width: 70%;
                line-height: 1.5rem;
                word-break: break-word;
                text-wrap: wrap;
            }
            .response{
                display: flex;
                line-height: 1.75rem;
                .loader {
                    display: inline-block;
                    margin-right: 10px;
                
                    span { 
                      display: inline-block;
                      margin: 0 2px;
                      font-size: 1.2rem;
                      animation: blink 1s infinite steps(1);
                    }
                
                    @keyframes blink{
                      50% { opacity: 0; }
                    }
                }
                .sundayIcon{
                    border: 1px solid #d9d9d920;
                    border-radius: 50%;
                    padding: 0.35rem;
                    width: 35px;
                    height: 35px;
                    margin-right: 10px;
                }
                table{
                    border-spacing: 0;
                    width: 100%;
                    border-radius: 10px;
                    overflow: hidden;
                    border: 1px solid #ffffff25;
                }
                th, td{
                    border: none;
                    text-align: center;
                    padding: 8px;
                }
                th{
                    background-color: #20232A;
                }
                thead th:first-child{
                    border-top-left-radius: 10px;
                }
                thead th:last-child{
                    border-top-right-radius: 10px;
                }
                tbody tr:last-child td:first-child{
                    border-bottom-left-radius: 10px;
                }
                tbody tr:last-child td:last-child{
                    border-bottom-right-radius: 10px;
                }
                tbody tr:nth-child(odd){
                    background-color: transparent;
                }
                tbody tr:nth-child(even){
                    background-color: #20232A60;
                }
                  
                .table-pre-wrapper{
                    scrollbar-color: #888 transparent;
                    scrollbar-width: medium;
                }
                pre{
                    background-color: #000000;
                    border: 1px solid #ffffff35;
                    border-radius: 10px;
                    overflow-x: auto;
                    scrollbar-color: #888 transparent;
                    scrollbar-width: thin;
                    margin: 1rem 0;
                }
                pre code{
                    background: #000;
                }
                pre code span{
                    background: #000;
                    font-family: monospace;
                    font-size: 14px;
                }
                ol{
                    counter-reset: item;
                    list-style-type: none;
                    padding-left: 20px;
                }
                ol li{
                    counter-increment: item;
                    margin-bottom: 10px;
                }
                ol li::before{
                    content: counters(item, ".") ". ";
                    font-weight: bold;
                }
                ul{
                    list-style-type: disc;
                    padding-left: 20px;
                }
                ul li{
                    margin-bottom: 10px;
                }
                ul ul, ol ol, ul ol, ol ul{
                    padding-left: 20px;
                }
            }
        }
    }
    .formContainer{
        width: 50rem;
        padding-top: 1rem;
        margin: auto;
        display: flex;
        @media screen and (max-width: 1200px) {
            width: 100%;
            padding: 0 1rem;
        }
        textarea{
            background: transparent;
            border: 1px solid #d9d9d920;
            font-size: 1rem;
            resize: none;
            padding: 0.75rem;
            max-height: 30em;
            border-radius: 4px;
            overflow-y: auto;
        }
        button{
            display: block;
            align-self: flex-end;
            height: 44px;
            width: 44px;
        }
    }
}