.sidebar{
    border-right: 1px solid #d9d9d920;
    height: 100vh;
    li{
        list-style-type: none;
    }
    .dropdownToggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .arrow {
        margin-left: 0.5rem;
        transition: transform 0.3s ease-out;
    }
    .down {
        transform: rotate(0deg);
    }
    .up {
        transform: rotate(90deg);
    }
    .menuList{
        padding: 1rem;
        button{
            padding-left: 1rem;
            border: none;
            width: 100%;
            text-align: left;
            background: transparent;
            color: #d9d9d9;
            &:hover{
                border: none;
                background: #58D033;
                color: #121212;
                border-radius: 4px;
                span{
                    color: #121212;
                }
            }
        }
        .chatItem{
            button{
                padding-left: 2rem;
            }
        }
    }
    .sidebarHeader{
        padding: 1.5rem 2rem;
        border-bottom: 1px solid #d9d9d920;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        img{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            padding: 0.25rem;
            border: 1px solid #d9d9d920;
        }
        h1{
            font-size: 1.17em;
        }
    }
}